In [1]:
import os
import sys
import matplotlib.pyplot as plt
import sqlite3
import pandas as pd

%matplotlib inline

In [3]:
from film_ranking.lib.analyze import get_movies_with_regional_data, get_cinematic_rank, get_directors_rank, get_producers_rank, get_actors_rank, actors_comparison, directors_comparison, producers_comparison, cinematics_comparison, countries_comparison

In [4]:
df = get_movies_with_regional_data(2000, 2020)
df.head()

,region,countryName,population,gdp_capita,gdp,numFilms,votes,avgRating,qualityScore,populationPerFilm,filmPerGdp,gdpPerFilm,gdpCapitaPerFilm,gdp_rank,weak_cinematic_impact_rank,strong_cinematic_impact_rank,weak_cinematic_impact_difference,strong_cinematic_impact_difference
0,ZA,South Africa,44187637,10700.0,4.728077e+11,11804,566435216,6.625644,3.752998e+09,3743.0,2.496575e-08,4.005487e+07,1.103178,20,8,1,12,19
1,US,United States,298444215,37800.0,1.128119e+13,278765,275799728,6.845665,1.888033e+09,1070.0,2.471060e-08,4.046846e+07,7.374735,1,1,2,0,-1
2,GB,United Kingdom,60609153,27700.0,1.678874e+12,45559,12478147,7.124744,8.890360e+07,1330.0,2.713665e-08,3.685054e+07,1.644729,7,2,3,5,4
3,JP,Japan,127463611,28200.0,3.594474e+12,17676,10507731,7.287378,7.657381e+07,7211.0,4.917549e-09,2.033534e+08,0.626809,3,4,4,-1,-1
4,FI,Finland,5231372,27400.0,1.433396e+11,3143,7476876,6.432167,4.809251e+07,1664.0,2.192695e-08,4.560598e+07,0.114708,48,17,5,31,43

In [ ]:
df = get_cinematic_rank("movie", 20, 2000, 2024)
df.head()

In [ ]:
df = get_directors_rank("movie", 1900, 2024)
df.head()

In [ ]:
df = get_producers_rank("movie", 1900, 2024)
df.head()

In [ ]:
df = get_actors_rank(1900, 2024)
df.head()