In [1]:
import os
import sys
import matplotlib.pyplot as plt
import sqlite3
import pandas as pd

%matplotlib inline

In [2]:
parent_directory = os.path.abspath('..')
sys.path.append(parent_directory)

In [3]:
from film_ranking.lib.analyze import get_movies_with_regional_data, get_cinematic_rank, get_directors_rank, get_producers_rank, get_actors_rank, actors_comparison, directors_comparison, producers_comparison, cinematics_comparison, countries_comparison

In [4]:
df = get_movies_with_regional_data(2000, 2020)
df.head()

,region,countryName,population,gdp_capita,gdp,numFilms,votes,avgRating,qualityScore,populationPerFilm,filmPerGdp,gdpPerFilm,gdpCapitaPerFilm,gdp_rank,weak_cinematic_impact_rank,strong_cinematic_impact_rank,weak_cinematic_impact_difference,strong_cinematic_impact_difference
0,ZA,South Africa,44187637,10700.0,4.728077e+11,11804,566435216,6.625644,3.752998e+09,3743.0,2.496575e-08,4.005487e+07,1.103178,20,8,1,12,19
1,US,United States,298444215,37800.0,1.128119e+13,278765,275799728,6.845665,1.888033e+09,1070.0,2.471060e-08,4.046846e+07,7.374735,1,1,2,0,-1
2,GB,United Kingdom,60609153,27700.0,1.678874e+12,45559,12478147,7.124744,8.890360e+07,1330.0,2.713665e-08,3.685054e+07,1.644729,7,2,3,5,4
3,JP,Japan,127463611,28200.0,3.594474e+12,17676,10507731,7.287378,7.657381e+07,7211.0,4.917549e-09,2.033534e+08,0.626809,3,4,4,-1,-1
4,FI,Finland,5231372,27400.0,1.433396e+11,3143,7476876,6.432167,4.809251e+07,1664.0,2.192695e-08,4.560598e+07,0.114708,48,17,5,31,43

In [5]:
df = get_cinematic_rank("movie", 20, 2000, 2024)
df.head()

,titleId,primaryTitle,region,numVotes,averageRating,product,awards,awards_count
0,tt0468569,The Dark Knight,US,2887484,9.0,25987356.0,"NSFC Award Best Cinematography 2009, NSFC Awar...",313
1,tt1375666,Inception,US,2565519,8.8,22576567.2,"Film Award Best dubbing mixing 2011, IFC Award...",362
2,tt0816692,Interstellar,US,2119928,8.7,18443373.6,"ICP Award Best Cinematography 2014, ICP Award ...",188
3,tt0120737,The Lord of the Rings: The Fellowship of the Ring,ZA,2018507,8.9,17964712.3,"ACCA Best Actor in a Supporting Role 2001, ACC...",239
4,tt0167260,The Lord of the Rings: The Return of the King,ZA,1990067,9.0,17910603.0,"NYFCC Award Best Director 2003, NYFCC Award Be...",328

In [7]:
df = get_directors_rank("movie", 1900, 2024)
df.head()

,directorId,directorName,movie,movieCount,awards,awardsCount,avgRating,totalVotes,totalProduct,moviesWithAwards,moviesWithoutAwards,finalAssessmentValue,awardPercentage
0,nm0634240,Christopher Nolan,"Following,Memento,Insomnia,Batman Begins,The D...",12,"ACCA Best Director 2001, ACCA Best Original Sc...",358.0,8.166667,16294634,1.330728e+08,10,2,2.661457e+08,83
1,nm0000229,Steven Spielberg,"Firelight,The Sugarland Express,Jaws,Close Enc...",35,"Oscar Best Motion Picture of the Year 2012, OF...",382.0,7.305714,14615333,1.067754e+08,32,3,2.135509e+08,91
2,nm0000233,Quentin Tarantino,"Reservoir Dogs,Pulp Fiction,Four Rooms,Jackie ...",15,Critics Award Best Foreign Director (Melhor Di...,421.0,7.780000,11973324,9.315246e+07,13,2,1.863049e+08,86
3,nm0000217,Martin Scorsese,"Who's That Knocking at My Door,Street Scenes,B...",40,"WAFCA Award Best Director 2013, CFCA Award Bes...",429.0,7.427500,10667085,7.922977e+07,33,7,1.584595e+08,82
4,nm0001392,Peter Jackson,"Bad Taste,Meet the Feebles,Dead Alive,Heavenly...",15,"NYFCC Award Best Director 2003, DFWFCA Award B...",270.0,7.713333,8971447,6.919976e+07,14,1,1.383995e+08,93

In [8]:
df = get_producers_rank("movie", 1900, 2024)
df.head()

,producerId,producerName,movie,movieCount,awards,awardsCount,avgRating,totalVotes,totalProduct
0,nm0270559,Kevin Feige,"Iron Man,Captain America: The First Avenger,An...",33,"Showmanship Award Motion Picture 2013, MCFCA A...",13.0,7.236364,24282606,1.757178e+08
1,nm0858799,Emma Thomas,"Following,Batman Begins,The Dark Knight,The Pr...",11,PGA Award Outstanding Producer of Theatrical M...,23.0,8.136364,15459501,1.257841e+08
2,nm0634240,Christopher Nolan,"Following,The Dark Knight,The Prestige,Man of ...",10,"ACCA Best Director 2001, ACCA Best Original Sc...",358.0,8.130000,13872739,1.127854e+08
3,nm0746273,Charles Roven,"Heart Like a Wheel,The Blood of Heroes,Made in...",39,PGA Award Outstanding Producer of Theatrical M...,15.0,6.515385,15166926,9.881836e+07
4,nm0748784,Scott Rudin,"I'm Dancing as Fast as I Can,Mrs. Soffel,Reckl...",83,"Oscar Best Motion Picture of the Year 2012, PG...",100.0,6.731325,13295425,8.949583e+07

In [9]:
df = get_actors_rank(1900, 2024)
df.head()

,actorId,actorName,movies,movieCount,awards,awardsCount,avgRating,totalVotes,totalProduct,regions,countryCount
0,nm0000168,Samuel L. Jackson,"The Displaced Person,Eddie Murphy: Raw,Dead Ma...",184,"CFCA Award Best Supporting Actor 1992, CFCA Aw...",121.0,6.663587,23309807,1.553269e+08,"US,ZA,GB,VE,UY,CN,HK,MX,FI,NZ",10
1,nm0000288,Christian Bale,"Heart of the Country,Empire of the Sun,Mio in ...",63,"GAFCA Award Best Actor 2019, Georges Award Bes...",195.0,7.058730,21230978,1.498637e+08,"KR,ZA,US,GB,FI,UY",6
2,nm0000375,Robert Downey Jr.,"Firstborn,Tuff Turf,Weird Science,Back to Scho...",156,People's Choice Award Favorite Action Movie Ac...,145.0,6.620513,21079931,1.395600e+08,"US,ZA,FI,UY",4
3,nm0000093,Brad Pitt,"Cutting Class,Happy Together,Glory Days,Too Yo...",77,"CFCA Award Most Promising Actor 1992, Oscar Be...",290.0,7.023377,19644032,1.379674e+08,"US,ES,ZA,IE",4
4,nm0262635,Chris Evans,"Fantastic Four,Opposite Sex,Not Another Teen M...",85,People's Choice Award Favorite Action Movie Ac...,50.0,7.251765,18852536,1.367142e+08,"ZA,US,HK",3