In [1]:
start_year = 1900
end_year = 2000
limit = 15
mtype = "tvSeries"
genre = "thriller"
country = "NL"
sort_by = "product"

In [2]:
from film_ranking.lib.analyze import get_cinematic_rank

In [ ]:
import pandas as pd
# Display all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
df = get_cinematic_rank(start_year, end_year, limit=limit, mtype=mtype, country=country, sort_by=sort_by)

,titleId,primaryTitle,region,numVotes,averageRating,product,awards,awards_count
0,tt0108771,The Fast Show,NL,5260,8.2,43132.0,"British Comedy Award Best Comedy Series 1996, ...",8.0
1,tt0119873,Warriors,NL,2584,8.2,21188.8,"Prix Italia Fiction - Serial 2000, Broadcastin...",16.0
2,tt0105999,Flodder,NL,1876,6.8,12756.8,Gouden Beeld Best Actress in a Comedy (Actrice...,2.0
3,tt0073995,George & Mildred,NL,1733,7.2,12477.6,None,NaN
4,tt0457544,Wie is de Mol?,NL,1238,8.4,10399.2,Gouden Beeld Game Show/Quiz (Spelshow/Quiz) 20...,11.0

In [ ]:
df.head(int(limit))